


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.border {
    border: 5px white;
}

body {
    background-image: url('https://wallpaper.dog/large/20384075.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.item{
    width:450px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float: left;
}

h {
    font-family: "Malgun Gothic", serif ;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

h1 {
    font-family: "Malgun Gothic", serif ;
    font-size: 50px;
    font-weight: 1000;
    color: darkorange;
}

h2  {
    font-family: "Malgun Gothic", serif;
    color: #f4511e;
    opacity: 0.6;
    font-size: 35px;
}

h3 {
    font-family: "Malgun Gothic", serif;
    color: white;

    font-size: 40px;
}

p {
    font-family: "Malgun Gothic", serif;
    font-weight: 500;
    color: white;
}
p1  {
    font-family: "Malgun Gothic", serif;
    font-weight: 500;
    font-size: 30px;
    color: white;
}

p2  {
    font-family: "Malgun Gothic", serif;
    font-weight: 500;
    font-size: 10px;
    color: white;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.7;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

}
.button:hover {opacity: 1}

.sliding-background {
    background: url("https://scontent-lhr8-2.xx.fbcdn.net/v/t1.15752-9/317124932_2027469647446878_2860952722106435543_n.png?_nc_cat=105&ccb=1-7&_nc_sid=ae9488&_nc_ohc=5tW00k0IC6gAX9rGkIg&_nc_ht=scontent-lhr8-2.xx&oh=03_AdTJCJ-w_cXBNWf1G3FUl-R7iGuay7YHoBNbi_Z95y1_hA&oe=63B0BD4F") repeat-x;
    height: 300px;
    width: 9000px;
    animation: slide 60s linear infinite;
}


@keyframes slide{
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}
div {
    overflow-x: hidden;
}

figure.snip0068 {
    font-family: 'Raleway', Arial, sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: white;
    text-align: center;
}

figure.snip0068 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

figure.snip0068 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

figure.snip0068 figcaption {
    position: absolute;
    bottom: 0;
    left: 18%;
    right: 18%;
    height: 100%;
}

figure.snip0068 figcaption > div {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 50%;
}

figure.snip0068 h3,
figure.snip0068 span {
    margin: 0;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    font-weight: 800;
    text-transform: uppercase;
}

figure.snip0068 h3 {
    background: #333333;
    bottom: 0;
    left: 0;
    position: absolute;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
}


figure.snip1206 {
    font-family: 'Raleway', Arial, sans-serif;
    color: white;
    font-size: 30px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 20px;
    max-width: 710px;
    max-height: 620px;
    width: 100%;

    text-align: center;
}
figure.snip1206 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
figure.snip1206 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}
figure.snip1206:after {
    background: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    -webkit-transform: skew(-45deg) scaleX(0);
    transform: skew(-45deg) scaleX(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
figure.snip1206 figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
figure.snip1206 h2,
figure.snip1206 p {
    margin: 0;
    width: 100%;
    opacity: 0;
}
figure.snip1206 h2 {
    padding: 0 30px;
    font-size: 80px;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
}
figure.snip1206 p {
    padding: 0 50px;
    font-size: 0.8em;
    font-weight: 500;
}
figure.snip1206 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
figure.snip1206:hover:after,
figure.snip1206.hover:after {
    -webkit-transform: skew(-45deg) scaleX(1);
    transform: skew(-45deg) scaleX(1);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2,
figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2 {
    opacity: 1;
}
figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
    opacity: 0.7;
}

/*--------------------------------------------------*/

div#main{
    width:830px;
    height:650px;
    margin:0 auto;
    font-family:'Ubuntu',sans-serif
}
div#form_sample{
    text-align:center;
    border:1px solid #ccc;
    width:600px;
    padding:0 50px 15px;
    margin-top:20px;
    box-shadow:0 0 15px;
    border-radius:6px;
    float:left
}
#main h1{
    margin-top:40px
}
hr{
    margin-top:-5px
}
label{
    float:left;
    font-size:16px
}
input[type="text"]{
    width:100%;
    margin-top:10px;
    height:35px;
    margin-bottom:25px;
    padding:10px;
    border:3px white;
}
textarea{
    width:100%;
    border:3px white;
    padding:10px;
    margin-bottom:25px;
    margin-top:10px;
    height:100px;
    resize:none
}


input[type="submit"]{
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width:100%;
    font-weight:700;
    font-family:'Ubuntu',sans-serif
}
div#fugo{
    float:right
}

label {
    color: white;
}